
img.center {
    display: block !important;
    margin: 0 auto;
    height: 80%;
    width:80%;
}

em.center {
    display: block !important;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


ul.nav li {
    font-size: 12px;
    padding-left: 15px !important;
}


ul.nav li.main{
    font-size: 14px ;
    padding-left: 0px !important;
}

.part {
    display: block !important;
    text-align: center;
    font-size: 36px;
}

.md-header {
    background-color: #212121;
}


.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
   display: table;
}

.admonition.info {
    margin-left: 10%;
    margin-right: 10%;
}

.admonition.note {
    margin-left: 10%;
    margin-right: 10%;
}


@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    @top-left {
        #content: string(chapter);
    }
    @top-right {
        #font-size: 8px;
        #content: counter(page);
    }
    @bottom-center {
        font-size: 8px;
        content: 'fun with migasfree';
    }
}
